*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    height: 100vh;
}
body{
    min-height: 100vh;
    background: radial-gradient(
        43.46% 80.54% at 50% 50%,
        #2d3445 0%,
        #18181f 100%
    );
    display: grid;
    grid-template-rows: 40% 10% auto;
    padding: 0 5% 0 10%;
}
h1{
    align-self: end;
    color: aliceblue;
    font-size: 45px;
}
.btn-group{
    display: flex;
    align-items: center;
}
button{
    margin-right: 20px;
    padding: 5px;
    border-radius: 12px;
    border: none;
    height: 50px;
    width: 70px;
    font-size: 20px;
    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.3);
}
#yes-btn{
    background: rgb(10, 240, 125);
}
#no-btn{
    background: rgb(250, 32, 32);
    color: white;
}
.stats{
    margin-top: 20%;
    background: rgb(246, 244, 248);
    box-shadow: 4px 12px 20px rgba(0, 0, 0, 0, 0.3);
    border-radius: 14px;
    height: 110px;
    padding: 10px;
    margin-right: 5%;
}
.present-stats,
.absent-stats{
    font-size: 32px;
}
.present-stats{
    color: rgb(1, 182, 92);
}
.absent-stats{
    margin: 5% 0;
    color: rgb(250, 32, 32);
}

@media only screen and (min-width:769px){
    body{
        grid-template-columns: 60% auto;
        grid-template-rows: 50% 50%;
    }
    .btn-group{
        align-self: end;
    }
    .stats{
        height: 50px;
        margin-top: 10%;
        display: flex;
        justify-content: space-evenly;
        width: 75%;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .absent-stats{
        margin: 0;
    }
}